<section class="section dashboard">
    {{!-- <div class="row">

        <div class="col-lg-12">
            <div class="row">

                <div class="col-10 col-md-6 col-lg-4 col-xl-3">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title"><span>Total | </span>Bookings</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-receipt"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>100</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-10 col-md-6 col-lg-4 col-xl-3">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title"><span>Total | </span>Revenue</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-rupee"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>10000</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-10 col-md-6 col-lg-4 col-xl-3">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title"><span>Todays | </span>Bookings</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-tags"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>10</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-10 col-md-6 col-lg-4 col-xl-3">

                    <div class="card info-card customers-card">

                        <div class="card-body">
                            <h5 class="card-title"><span>Occupied | </span>Rooms</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-bookmark"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>8</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div> --}}

    <div class="row mt-4 g-4 justify-content-center align-items-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">All Bookings</h5>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Booking Date</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Facility</th>
                                <th scope="col">Count</th>
                                <th scope="col">POC</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each records}}
                            <tr id="row-{{this._id}}">
                                <th scope="row">{{add @index 1}}</th>
                                <th scope="col">{{formatDate this.events.booking}}</th>
                                <th scope="col">
                                    {{formatDateOnly this.checkin}} -<br>
                                    {{formatDateOnly this.checkout}} <br>
                                    ({{this.duration}} Days)
                                </th>
                                <th scope="col">
                                    {{this.facility.name}}<br>
                                    {{this.facility.count}} Nos
                                </th>
                                <th scope="col">
                                    {{this.adults}} Adults<br>
                                    {{this.childrens}} Childrens
                                </th>
                                <th scope="col">
                                    {{this.poc.name}},<br>
                                    {{this.poc.phone}},<br>
                                    {{this.poc.email}},<br>
                                    <div class="mt-3">
                                        {{this.poc.address}}
                                    </div>

                                </th>
                                <th scope="col">
                                    {{#if this.status}}
                                    <span class="badge bg-success">Active</span>
                                    {{else}}
                                    <span class="badge bg-error">Cancelled</span>
                                    on {{formatDate this.events.cancelled}}
                                    {{/if}}
                                    {{#if this.flags.payment}}
                                    <span class="badge bg-success">Paid</span>
                                    {{else}}
                                    <span class="badge bg-warning">Unpaid</span>
                                    {{/if}}
                                    {{#if (compare this.flags.booking "confirmed")}}
                                    <br>
                                    <span class="badge bg-success">Booking Confirmed</span>
                                    {{else if (compare this.flags.booking "completed")}}
                                    <br>
                                    <span class="badge bg-success">Booking Completed</span>
                                    {{else if (compare this.flags.booking "pending")}}
                                    <br>
                                    <span class="badge bg-warning">Booking Pending</span>
                                    {{else if (compare this.flags.booking "cancelled")}}
                                    <br>
                                    <span class="badge bg-danger">Booking Cancelled</span>
                                    {{else}}
                                    <br>
                                    <span class="badge bg-danger">Booking Rejected</span>
                                    {{/if}}
                                    {{#if this.flags.contacted}}
                                    <br>
                                    <span class="badge bg-success">Contacted</span>
                                    {{else}}
                                    <br>
                                    <span class="badge bg-danger">Not Contacted</span>
                                    {{/if}}
                                </th>
                                <td>
                                    <button class="btn-ico red" onclick="deleteRecord(`{{this._id}}`)">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </button>
                                    <a href="/admin/records/edit/{{this._id}}" class="btn-ico blue">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</section>