<section id="account" class="section">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-10 col-lg-8 card">
            <div class="card-body p-4">

                <ul class="nav nav-tabs nav-tabs-bordered">

                    <li class="nav-item">
                        <button class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#profile-overview">Facility</button>
                    </li>

                    <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">
                            Status</button>
                    </li>

                    {{!-- <li class="nav-item">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change
                            Password</button>
                    </li> --}}

                </ul>
                <div class="tab-content py-2">

                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <h5 class="card-title">Booking Details</h5>

                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Date of Booking:</div>
                            <div class="col-lg-9 col-md-8">{{formatDate record.events.booking}}</div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Checkin:</div>
                            <div class="col-lg-9 col-md-8">{{formatDateOnly record.checkin}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Checkout:</div>
                            <div class="col-lg-9 col-md-8">{{formatDateOnly record.checkout}}</div>
                        </div>
                        {{#with record.facility}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Facility Name:</div>
                            <div class="col-lg-9 col-md-8">{{name}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Price:</div>
                            <div class="col-lg-9 col-md-8">Rs. {{price}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Count:</div>
                            <div class="col-lg-9 col-md-8">{{count}} Nos</div>
                        </div>
                        {{/with}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Duration:</div>
                            <div class="col-lg-9 col-md-8">{{record.duration}} Days</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">
                                <strong>Grand Total:</strong>
                            </div>
                            <div class="col-lg-9 col-md-8">
                                <strong>Rs. {{record.grand_total}}</strong>
                            </div>
                        </div>
                        <h5 class="card-title">Contact Details</h5>
                        {{#with record.poc}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Name:</div>
                            <div class="col-lg-9 col-md-8">{{name}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Email:</div>
                            <div class="col-lg-9 col-md-8">{{email}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Phone:</div>
                            <div class="col-lg-9 col-md-8">{{phone}}</div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Address:</div>
                            <div class="col-lg-9 col-md-8">{{address}}</div>
                        </div>
                        {{/with}}
                        <h5 class="card-title">Status Details</h5>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Status: </div>
                            <div class="col-lg-9 col-md-8">
                                {{#if (compare record.flags.booking "confirmed")}}
                                <span class="badge bg-success">Confirmed</span>
                                {{else if (compare record.flags.booking completed)}}
                                <span class="badge bg-success">Completed</span>
                                {{else if (compare record.flags.booking "pending")}}
                                <span class="badge bg-warning">Pending</span>
                                {{else if (compare record.flags.booking "cancelled")}}
                                <span class="badge bg-danger">Cancelled</span>
                                {{else}}
                                {{/if}}
                            </div>
                        </div>
                        {{#if record.flags.payment}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Payment Status:</div>
                            <div class="col-lg-9 col-md-8"><span class="badge bg-success">Paid</span></div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Paid On:</div>
                            <div class="col-lg-9 col-md-8">{{formatDateOnly record.events.payment}}</div>
                        </div>
                        {{else}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Payment Status:</div>
                            <div class="col-lg-9 col-md-8"><span class="badge bg-danger">Not Paid</span></div>
                        </div>
                        {{/if}}
                        {{#if record.flags.contacted}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Contact Status:</div>
                            <div class="col-lg-9 col-md-8"><span class="badge bg-success">Contacted</span></div>
                        </div>
                        {{else}}
                        <div class="row mb-3">
                            <div class="col-lg-3 col-md-4 label">Contact Status:</div>
                            <div class="col-lg-9 col-md-8"><span class="badge bg-danger">Not Contacted</span></div>
                        </div>
                        {{/if}}
                    </div>

                    <div class="tab-pane fade profile-edit" id="profile-edit">

                        <h5 class="card-title">Update Status</h5>
                        <form action="/admin/records/update/{{record._id}}" method="post">

                            <div class="row mb-3">
                                <label for="status" class="col-md-4 col-lg-3 col-form-label">Booking Status</label>
                                <div class="col-md-8 col-lg-9">
                                    <select name="status" class="form-select form-control"
                                        aria-label="Default select example">
                                         <option value="completed" {{#if (compare record.flags.booking "completed")}}selected{{/if}}>completed</option>
                                         <option value="confirmed" {{#if (compare record.flags.booking "confirmed")}}selected{{/if}}>confirmed</option>
                                         <option value="pending" {{#if (compare record.flags.booking "pending")}}selected{{/if}}>pending</option>
                                         <option value="cancelled" {{#if (compare record.flags.booking "cancelled")}}selected{{/if}}>cancelled</option>
                                         <option value="rejected" {{#if (compare record.flags.booking "rejected")}}selected{{/if}}>rejected</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="payment" class="col-md-4 col-lg-3 col-form-label">Payment Status</label>
                                <div class="col-md-8 col-lg-9">
                                    <select name="payment" class="form-select form-control"
                                        aria-label="Default select example">
                                        <option value="0" {{#if record.flags.payment}}{{else}}selected{{/if}}>Not Paid
                                        </option>
                                        <option value="1" {{#if record.flags.payment}}selected{{/if}}>Paid</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="contacted" class="col-md-4 col-lg-3 col-form-label">Contact Status</label>
                                <div class="col-md-8 col-lg-9">
                                    <select name="contacted" class="form-select form-control"
                                        aria-label="Default select example">
                                        <option value="0" {{#if record.flags.contacted}}{{else}}selected{{/if}}>Not
                                            Contacted
                                        </option>
                                        <option value="1" {{#if record.flags.contacted}}selected{{/if}}>Contacted
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <input type="hidden" id="book_id" name="id" value="{{record._id}}">

                            <div class="text-center pt-4">
                                <button type="submit" class="btn-primary">Update Status</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-7 m-4 mb-5 d-flex justify-content-center align-items-center">
            <a href="/admin/" class="btn">Back to Dashboard</a>
        </div>
    </div>
</section>