<section class="section books">
    {{#with book}}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 mb-5 card">
            <div class="card-body p-5">

                <h5 class="card-title">Book Details</h5>
  
                <div class="row mb-3">
                    <div class="col-lg-3 col-md-4 label">Book Name:</div>
                    <div class="col-lg-9 col-md-8">{{name}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-3 col-md-4 label">Author:</div>
                    <div class="col-lg-9 col-md-8">{{author}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-3 col-md-4 label">Type:</div>
                    <div class="col-lg-9 col-md-8">{{type}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-3 col-md-4 label">Count:</div>
                    <div class="col-lg-9 col-md-8">{{count}}</div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-8 col-lg-7 d-flex justify-content-center align-items-center">
            <a href="/admin/book/record/add/{{_id}}" class="btn">Add Record</a>
        </div>
    </div>
    {{/with}}
</section>